Scraping tasks:

NLP and Processing of Scraped website data:

Simple NLP tasks for a static website page that contains linked photos of existing gravestones in St. Marx. I wanted to check if names found in my Hans Pemmer text, along with addresses have photos in existence on this webpage: I did not scrape this, though, as it seems like someone's small personal project. 

The code in Box 27 are my prompts for re, and then a code included to add the names to the csv file I created for names that do not have a gravestone photo online anywhere.

In [1]:

import re
import pandas as pd 
needs_organizing = '''
Large Text Goes here 
'''

In [27]:
re.findall("Martin Angelmaler", needs_organizing)
re.findall("Franz Zippe", needs_organizing)
re.findall("Josef Frueth", needs_organizing)
df = pd.read_csv("Pemmer_Works_Spreadsheet.csv")
df.loc[3, 'varchar Name'] = "Franz Zippe"
df.to_csv("Pemmer_Works_Spreadsheet.csv")
print(df)
df.loc[4, 'varchar Name'] = "Josef Frueth"
df.to_csv("Pemmer_Works_Spreadsheet.csv")
print(df)
re.findall("Rosenthal", needs_organizing)
re.search("Rosenthal", needs_organizing)

<re.Match object; span=(195221, 195230), match='Rosenthal'>

Spatial Analysis and retrieval of current coordinates for addresses we already have:

This space is for addresses that have been looked up and successfully verified through the Wien Geschichte Wiki:

Jasomirgottstrasse 2, Wien 1010
RotenturmstraÃŸe 1-3, Wien 1010

This space is for the code to look up the lattitude and longitude:

This code uses Geopy to look up the latitude and longitude of the input of an address (prompt):

In [20]:
import pandas as pd
import geopy.geocoders as gg


geolocator = gg.Nominatim(user_agent="email-app-name-goes-here")
new_address = input("Please enter the address you would like to check: ")
location = geolocator.geocode(new_address)
new_lat = location.latitude
new_long = location.longitude 
print(new_lat, new_long)

#Fix 
i = input("Which row is this going to?") #convert to number?
df = pd.read_csv("St_Marxer_Spreadsheet.csv", sep =";")
new_entry = df.loc[i, 'decimal(8,6) latitude']
new_entry2 = df.loc[i, 'decimal(9,6) longitude']

def convertLat(i):
    for new_entry in df: 
        i.append(new_lat)
        print(new_lat)

def convertLong(i): 
    for new_entry2 in df: 
        i.append(new_long)
        print(new_long)
        
convertLat()
convertLong()



    



#df = pd.read_csv("St_Marxer_Spreadsheet.csv")
#new_entry = df.loc[52, 'decimal(8,6) latitude'] 


#df = pd.read_csv("Pemmer_Works_Spreadsheet.csv")
#df.loc[3, 'varchar Name'] = "Franz Zippe" #The command to establish which row and column the data entry goes
#df.to_csv("Pemmer_Works_Spreadsheet.csv") #the command to write into the file
#print(df) #Nothing happens unless you print it lol 

#Create the geocoder (which is ready)
#Take the separate latitude and longitude variables 
#Have a for-loop that opens csv for the data and saves the new latitudes and longitudes in the right rows and columns
#There needs to be a separate for-loop for latitude and longitude

Please enter the address you would like to check:  Beethovenplatz 1 Vienna

48.2015474 16.3766125

Which row is this going to? 4

KeyError: 'decimal(8,6) latitude'

NLP and Sklearn ML Practice with the Titanic Dataset: 

File path:

In [14]:

import os 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import nltk 
from zipfile import ZipFile

In [ ]:
import mlflow 
mlflow.autolog(disable=True)

In [18]:
Titanic_Data = pd.read_csv('titanic.csv' , sep=',' )
Titanic_Data.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
data = Titanic_Data['survived']
target = Titanic_Data['name'].replace('survived', 1).replace('died', 0)
names = ['survived', 'died']
print("\n", data[:10])
print("\n", target[:10])

 0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: survived, dtype: int64

 0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: name, dtype: object

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size=0.2)
print('Train size: {}'.format(len(X_train)))
print('Test size: {}'.format(len(X_test)))

Train size: 712
Test size: 179

Sources: 
    Nikles, G. (2023): 03. Bezirk - Friedhof St. Marx - GrÃ¤berliste. https://www.austriasites.com/vienna/bezirk03_friedhof_st_marx_graeber.htm
    (08.01.2023)
    Pemmer, H. (1966): Bedeutende und interessante Bewohner der ErdbergstraÃŸe. In: Wiener GeschichtsblÃ¤tter. Band 21. Wien: Verein fÃ¼r Geschichte der Stadt Wien, S. 33 ff. Digital copy: https://anno.onb.ac.at/cgi-content/anno-plus?aid=maw&datum=1966&pos=49&size=45