Scraping tasks:

NLP and Processing of Scraped website data:

Simple NLP tasks for a static website page that contains linked photos of existing gravestones in St. Marx. I wanted to check if names found in my Hans Pemmer text, along with addresses have photos in existence on this webpage: I did not scrape this, though, as it seems like someone's small personal project. 

The code in Box 27 are my prompts for re, and then a code included to add the names to the csv file I created for names that do not have a gravestone photo online anywhere.

In [1]:

import re
import pandas as pd 
needs_organizing = '''
Large Text Goes here 
'''

In [27]:
re.findall("Martin Angelmaler", needs_organizing)
re.findall("Franz Zippe", needs_organizing)
re.findall("Josef Frueth", needs_organizing)
df = pd.read_csv("Pemmer_Works_Spreadsheet.csv")
df.loc[3, 'varchar Name'] = "Franz Zippe"
df.to_csv("Pemmer_Works_Spreadsheet.csv")
print(df)
df.loc[4, 'varchar Name'] = "Josef Frueth"
df.to_csv("Pemmer_Works_Spreadsheet.csv")
print(df)
re.findall("Rosenthal", needs_organizing)
re.search("Rosenthal", needs_organizing)

<re.Match object; span=(195221, 195230), match='Rosenthal'>

Spatial Analysis and retrieval of current coordinates for addresses we already have:

This space is for addresses that have been looked up and successfully verified through the Wien Geschichte Wiki:

Jasomirgottstrasse 2, Wien 1010
Rotenturmstraße 1-3, Wien 1010

This space is for the code to look up the lattitude and longitude:

This code uses Geopy to look up the latitude and longitude of the input of an address (prompt):

In [9]:
import pandas as pd
import geopy.geocoders as gg
import os 


geolocator = gg.Nominatim(user_agent="your email or app name goes here")
new_address = input("Please enter the address you would like to check: ")
location = geolocator.geocode(new_address)
new_lat = location.latitude
new_long = location.longitude 
print(new_lat, new_long)

i = int(input("Which row is this going to?"))


def convertLat(i):
    df = pd.read_csv("St_Marxer_Spreadsheet.csv", sep = ";")
    df.loc[i, 'decimal(8,6) latitude'] = new_lat
    df.to_csv("St_Marxer_Spreadsheet.csv")
    print(new_lat)

def convertLong(i): 
    df = pd.read_csv("St_Marxer_Spreadsheet.csv", sep = ";")
    df.loc[i, 'decimal(9,6) longitude'] = new_long
    df.to_csv("St_Marxer_Spreadsheet.csv")
    print(new_long)
        
convertLat(i)
convertLong(i)



    



#df = pd.read_csv("St_Marxer_Spreadsheet.csv")
#new_entry = df.loc[52, 'decimal(8,6) latitude'] 


#df = pd.read_csv("Pemmer_Works_Spreadsheet.csv")
#df.loc[3, 'varchar Name'] = "Franz Zippe" #The command to establish which row and column the data entry goes
#df.to_csv("Pemmer_Works_Spreadsheet.csv") #the command to write into the file
#print(df) #Nothing happens unless you print it lol 

#Create the geocoder (which is ready)
#Take the separate latitude and longitude variables 
#Have a for-loop that opens csv for the data and saves the new latitudes and longitudes in the right rows and columns
#There needs to be a separate for-loop for latitude and longitude

Please enter the address you would like to check:  Beethovenplatz 1 Vienna

48.2015474 16.3766125

Which row is this going to? 4

48.2015474
16.3766125

NLP and Sklearn ML Practice with the Titanic Dataset: 

File path:

In [14]:

import os 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import nltk 
from zipfile import ZipFile

In [ ]:
import mlflow 
mlflow.autolog(disable=True)

In [18]:
Titanic_Data = pd.read_csv('titanic.csv' , sep=',' )
Titanic_Data.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
data = Titanic_Data['survived']
target = Titanic_Data['name'].replace('survived', 1).replace('died', 0)
names = ['survived', 'died']
print("\n", data[:10])
print("\n", target[:10])

 0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: survived, dtype: int64

 0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: name, dtype: object

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size=0.2)
print('Train size: {}'.format(len(X_train)))
print('Test size: {}'.format(len(X_test)))

Train size: 712
Test size: 179

Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

Sources: 
    Nikles, G. (2023): 03. Bezirk - Friedhof St. Marx - Gräberliste. https://www.austriasites.com/vienna/bezirk03_friedhof_st_marx_graeber.htm
    (08.01.2023)
    Pemmer, H. (1966): Bedeutende und interessante Bewohner der Erdbergstraße. In: Wiener Geschichtsblätter. Band 21. Wien: Verein für Geschichte der Stadt Wien, S. 33 ff. Digital copy: https://anno.onb.ac.at/cgi-content/anno-plus?aid=maw&datum=1966&pos=49&size=45

Started trying to use Tesseract OCR to read some text in an old newspaper that was difficult to read, experimenting with newer newspaper texts:

In [33]:
#!pip install pytesseract
import re
import pytesseract


pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract'
#print(pytesseract.image_to_string(r'Newspaper_Images\JuliusRadl1.jpg')) #Nope #Fail 
#print(pytesseract.image_to_string(r'Newspaper_Images\juliusradl2.jpg')) #Nope 
#print(pytesseract.image_to_string(r'Newspaper_Images\carlkhym1.jpg')) #Nope
#print(pytesseract.image_to_string(r'Newspaper_Images\blatter1.jpg'))

#Take text printed from image and add to Dataframe
#If they contain addresses
#If they contain addresses = column "address"

photo1 = print(pytesseract.image_to_string(r'Newspaper_Images\Erdbergstrasse_Bewohnern1.jpg'))
photo2 = print(pytesseract.image_to_string(r'Newspaper_Images\Erdbergstrasse_Bewohnern2.jpg'))
photo3 = print(pytesseract.image_to_string(r'Newspaper_Images\Erdbergstrasse_Bewohnern3.jpg'))

WEES NGI.

Der berihmteste Bewohner der ErdbergstraGe ist Franz Schubert. Das Haus mit
der heutigen Nummer 17 bewohnten um 1810 laut Konskriptionsbogen!) der Professor
der politischen Wissenschaften Heinrich W atterroth (geb.1759) mit seinerFrau Anna
(geb.1776), seinen Séhnen Vinzenz und Hermann (geb.1796 und 1801), beide Juristen,
der Tochter Wilhelmine (geb.1800) und Dr, Juris Josef Witteczek (geb.1787). Um
1817 finden wir dann neben Dr.Witteczek, der inzwischen k.k, Hofsekretar geworden
ist und Wilhelmine geheiratet hat, noch den k,k.Revidenten Johann Mayerhofer
(geb.1788), von dessen Dichtungen einige durch Schuberts Vertonung unsterblich ge-
worden sind und den k, k, Hof-Konzipisten der Lotto-Gefalls-Direktion Josef R.V.Spaun
(geb.1788). Zu dieser illustren Gesellschaft kommt dann im Friihjahr 1816 auch Franz
Schubert. Beweis dafir ist ein Vermerk auf einem Manuskript von zwélf Deutschen und
sechs Ecossaisen: "Als Arrestanten in meinem Zimmer in Erdberg komponiert, May
1816"), Der Schubertforscher Deutsch vermutet, daf sich die Zimmer Schuberts und
seiner Freunde im éstlichen Hoffliigel im 2,Stock des turmartigen Aufbaues befanden,
welcher der Zerstérung eines grofen Teils des Gebdudes entgangen ist. Am 17. Juni
1816 schreibt Schubert in sein Tagebuch: "An diesem Tage componierte ich das erste
Mal fiir Geld. Namlich eine Cantate (Prometheus) fiir die Namensfeyer des H. Professor
Watterroth. Das Honorar ist 100 fl."°) Vor der Bombenbeschidigung erinnerte eine

vom Schubertbund 1923 gestiftete Gedenktafel daran, da8 Schubert 1816 hier wohnte
und daB der "Prometheus" hier am 24. Juli 1816 aufgefuhrt wurde.

In das Gebiet der leichten Musik kommen wir mit C.M.Ziehrer (gest.1922),
dem popularen Dirigenten der " Deutschmeisterkapelle" und Komponisten flotter Walzer,
Polkas und der Operetten "Die Landstreicher" , "Der Fremdenfthrer" , "Der schéne Ri-
go", "Der Schatzmeister" . Eine Tafel am Hause ErdbergstraGe 1 besagt: “Carl Michael
Ziehrer, Komponist und letzter Hofball-Musikdirektor starb am 14, November 1922 in
dem Hause, das an dieser Stelle stand. Ziehrerbund 1957", Die Gedenktafel, die sich
am alten, zerbombten Haus befand und die von Professor Anton Grath stammt, wird im
LandstraBer Heimatmuseum (III. Sechskriigelgasse 11) verwahrt.

Kompositorisch betitigte sich auch der Kapellmeister des Theaters a.d. Wien und
des Birgertheaters Richard Fronz (geb.28.4.1867), Er schrieb u.a. die Operette "Sie-
gespreis” und mehr als hundert Lieder*).

Auf Nr.29 wohnte der Militarkapellmeister Kaspar Richter (geb.31.7,1848)9)
und auf Nr.64 der Tonkinstler Martin Angel maier ,dessen Grab im St. Marxer Fried-
hof noch erhalten ist,


Von den Oberlehrern der Erdberger Schule (Erdbergstr.76) war einer der volkstim-
lichsten Anton Dasch(geb. Feldsberg, 9.6.1837). Er betatigte sich als Regenschori
bei St.Peter und Paul seit 1865, schrieb Lieder, kirchliche Musik und war Chormeister
beim “ Arbeiterbildungsverein" und der "Wiener Liedertafel” . Auch Oberlehrer Alexan-
der Teufel war Komponist.

Besonders stark sind die Maler vertreten, Da lesen wir im Totenprotokoll” , da8 dem
Maler Johann Ramsperger am 20,2,1739 und am 25.10.1741 zwei seiner Kinder im
Hause ErdbergstraBe 39 starben, da8 der Maler Felix Wittenberger im Hause 35
wohnte, da8 dem Maler Johann Michael Domathier im Hause 42, dem Maler Franz
Fux am 9.2.1787 im Hause 62 und dem Portratmaler Karl W as im Hause 34 ein Kind
stirbt®), Ob es sich bei den Malern immer um Akademiker handelt, ist fraglich, Ur
bestreitbar bleibt nur die groBe Kindersterblichkeit der damaligen Zeit. Der Theater-
maler und Architekt Alexius Caudini und der akademische Maler Franz Bucher
wohnten Erdbergstrafe 13 9,

Hausbesitzer in der ErdbergstraBe war der k, k. Kammermaler Joseph Hicke1 (Bohm.
Leipa, 19.3.1736 - 28,3.1807)1, Er kam 1756 an die Wiener Akademie. Maria The-
resia sandte ihn auf ihre Kosten 1758 nach Italien. Von ihm sieht man in der Schau-
spielergalerie des Burgtheaters eine Reihe von Schauspielerportrats. Aus der Verlassen-
schaftsabhandlung!!) geht hervor, da& der Ktnstler am 28,3. 1807 in der Stadt Nr.480
am Hohen Markt starb. An Bargeld hinterlie& er 330 fl., die Summe der Verlassenschaft
macht den ansehnlichen Betrag von 19, 522 fl. 27 1/2 kr. aus, worin auch das auf 5,500 fl.
geschatzte Haus Erdberg 340 (ErdbergstraBe 33) und das auf 1.200 fl. geschatzte Haus
Erdberg 341 (ErdbergstraBe 31) mit inbegriffen sind.